body {
    background-color: white;
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
}

input::placeholder, 
textarea::placeholder {
    font-family: "Inter", sans-serif;
}

input:focus,
textarea:focus {
    outline: none;
}

a,
nav button {
    text-decoration: none;
    background-color: none;
    border: none;
    color: #000;
    transition: .4s;
    font-size: 1em;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

a:hover,
nav button:hover {
    color: #F77E21;
}